// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

//template
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │          │          │          │          │   │          │          │          │          │          │
        // &trans     &trans     &trans     &trans     &trans         &trans     &trans     &trans     &trans      &trans
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │          │          │          │          │          │
        // &trans     &trans     &trans     &trans     &trans         &trans     &trans     &trans     &trans     &trans
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │          │          │          │          │          │
        // &trans     &trans     &trans     &trans     &trans         &trans     &trans     &trans     &trans     &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
        //                                   &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/modifiers.h>
#include <behaviors/unicode.dtsi>

// Unicode input system. Switch on the fly with &uc UC_SET_* (see fr_layer).
&uc {
    default-mode = <UC_MODE_LINUX>;
};

#define HRML(k1,k2,k3,k4) &ht LALT k1  &ht LSHFT k2  &ht LCTRL k3  &ht LGUI k4
#define HRMR(k1,k2,k3,k4) &ht RGUI k1  &ht RCTRL k2  &ht RSHFT k3  &ht RALT k4

// Layer order matters: a key resolves on the *highest* active layer. The toggled
// language layers must sit below the momentary ones, or holding a thumb would
// leave you stuck in Cyrillic with no numbers, symbols or Shift.
// These indices must match the order of the nodes in the keymap below.
#define DEF   0
#define RU    1
#define FR    2
#define RIG   3
#define LEF   4
#define TRI   5
#define GAME  6
#define GAME2 7

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";
        // `layers` is matched against the *highest* active layer, so each toggle
        // combo must also list its own layer or there is no way back out.
        combo_fr {
            timeout-ms = <50>;
            require-prior-idle-ms = <100>;
            key-positions = <0 1>;
            bindings = <&tog FR>;
            layers = <DEF FR>;
        };
        combo_ru {
            timeout-ms = <50>;
            require-prior-idle-ms = <100>;
            key-positions = <5 6>;
            bindings = <&tog RU>;
            layers = <DEF RU>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <RIG LEF>;
            then-layer = <TRI>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  G       │  M       │  L       │  W       │   │  Y       │  F       │  U       │  B       │ ' "      │
            &kp Q      &kp G      &kp M      &kp L      &kp W          &kp Y      &kp F      &kp U      &kp B      &kp SQT
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  D       │  S       │  T       │  N       │  R       │   │  I       │  A       │  E       │  O       │  H       │
            &kp D      HRML(S,         T,         N,     R)            HRMR(I,     A,         E,         O)         &kp H
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  V       │  J       │   │  K       │  P       │ , <      │ . >      │ / ?      │
            &kp Z      &kp X      &kp C      &kp V      &kp J          &kp K      &kp P      &kp COMMA  &kp DOT    &kp FSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                           &lt LEF TAB  &kp SPACE      &kp BSPC  &lt RIG ENTER
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        // ЙЦУКЕН on 30 keys. Shift gives the capital, except on three keys where
        // it yields the rare letter instead: е→ё, ш→щ, ь→ъ.
        ru_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  й Й     │  ц Ц     │  у У     │  к К     │  е ё     │   │  н Н     │  г Г     │  ш щ     │  з З     │  х Х     │
            &uc UC_RU_Y    &uc UC_RU_TS   &uc UC_RU_U    &uc UC_RU_K    &uc UC_RU_YEYO     &uc UC_RU_N    &uc UC_RU_G    &uc 0x448 0x449 &uc UC_RU_Z    &uc UC_RU_KH
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  ф Ф     │  ы Ы     │  в В     │  а А     │  п П     │   │  р Р     │  о О     │  л Л     │  д Д     │  ж Ж     │
            &uc UC_RU_F    &uc UC_RU_BI   &uc UC_RU_V    &uc UC_RU_A    &uc UC_RU_P        &uc UC_RU_R    &uc UC_RU_O    &uc UC_RU_L     &uc UC_RU_D    &uc UC_RU_ZH
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  я Я     │  ч Ч     │  с С     │  м М     │  и И     │   │  т Т     │  ь ъ     │  б Б     │  ю Ю     │  э Э     │
            &uc UC_RU_YA   &uc UC_RU_CH   &uc UC_RU_S    &uc UC_RU_M    &uc UC_RU_I        &uc UC_RU_T    &uc UC_RU_TONE &uc UC_RU_B     &uc UC_RU_YU   &uc UC_RU_E
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        fr_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  é É     │  è È     │  ê Ê     │  ë Ë     │  à À     │   │  â Â     │  ù Ù     │  û Û     │  ô Ô     │  î Î     │
            &uc UC_FR_E_ACUTE     &uc UC_FR_E_GRAVE     &uc UC_FR_E_CIRCUMFLEX &uc UC_FR_E_DIAERESIS &uc UC_FR_A_GRAVE     &uc UC_FR_A_CIRCUMFLEX &uc UC_FR_U_GRAVE     &uc UC_FR_U_CIRCUMFLEX &uc UC_FR_O_CIRCUMFLEX &uc UC_FR_I_CIRCUMFLEX
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  ï Ï     │  ç Ç     │  œ Œ     │  æ Æ     │  ü Ü     │   │  ÿ Ÿ     │          │          │          │          │
            &uc UC_FR_I_DIAERESIS &uc UC_FR_C_CEDILLA   &uc UC_FR_OE           &uc UC_FR_AE          &uc UC_FR_U_DIAERESIS &uc UC_FR_Y_DIAERESIS  &trans                &trans                 &trans                 &trans
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ OS:linux │ OS:mac   │ OS:win   │          │          │   │          │          │          │          │          │
            &uc UC_SET_LINUX      &uc UC_SET_MACOS      &uc UC_SET_WIN_COMPOSE &trans     &trans         &trans     &trans     &trans     &trans     &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        right_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ 1        │  2       │  3       │  4       │  5       │   │ 6        │ 7        │ 8        │ 9        │   0      │
            &kp N1    &kp N2     &kp N3     &kp N4     &kp N5          &kp N6     &kp N7     &kp N8     &kp N9      &kp N0
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │ PAGE UP  │   UP     │ PAGE DN  │          |   │ DELETE   │ CapsLock │ PrintSc  │   0      │          |
             &trans   &kp PG_UP   &kp UARW  &kp PG_DN   &trans         &kp DEL   &kp CAPS   &kp PSCRN    &kp N0    &trans
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │  LEFT    │ DOWN     │ RIGHT    │          │   │  HOME    │  END     │  INSERT  │          │          │
            &trans    &kp LARW    &kp DARW   &kp RARW    &trans         &kp HOME   &kp END  &kp INS     &trans      &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &kp ESC        &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        left_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  !       │  @       │  #       │  %       │          │   │          │  `       │  ~       │  &       │  ^       │
            &kp EXCL   &kp AT     &kp HASH   &kp PRCNT &trans         &trans      &kp GRAVE  &kp TILDE  &kp AMPS   &kp CARET
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  _       │  $       │  *       │  +       │          │   │          │  -       │  =       │     :    │  ;       │
           &kp UNDER   &kp DLLR   &kp ASTRK &kp PLUS   &trans         &trans     &kp MINUS  &kp EQUAL  &kp COLON   &kp SEMI
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│    \     │  [       │  {       │  (       │          │   │          │  )       │  }       │  ]       │  │       │
           &kp BSLH   &kp LBKT   &kp LBRC   &kp LPAR   &trans         &trans       &kp RPAR   &kp RBRC   &kp RBKT &kp PIPE
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        tri_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬───────────┬────────────╮   ╭────────────┬────────────┬──────────┬───────────┬──────────╮
        //│  F1      │  F2      │  F3      │  F4       │ PROFILE 0  │   │ PROFILE 2  │    PIP     │ GAME     │ VOL MUTE  │ NEXTSONG │
            &kp F1     &kp F2     &kp F3     &kp F4     &bt BT_SEL 0     &bt BT_SEL 2  &kp C_PIP    &to GAME   &kp C_MUTE  &kp C_NEXT
        //├──────────┼──────────┼──────────┼───────────┼────────────┤   ├────────────┼────────────┼──────────┼───────────┼──────────┤
        //│  F5      │  F6      │  F7      │  F8       │ PROFILE 1  │   │ PROFILE 3  │ INC BRIGHT │  RECORD  │  VOL UP   │PAUSEMUSIC│
            &kp F5     &kp F6     &kp F7     &kp F8     &bt BT_SEL 1     &bt BT_SEL 3  &kp C_BRI_UP  &kp C_REC  &kp C_VOL_UP &kp C_PP
        //├──────────┼──────────┼──────────┼───────────┼────────────┤   ├────────────┼────────────┼──────────┼───────────┼──────────┤
        //│  F9      │  F10     │  F11     │  F12      │  CLEAR BT  │   │ PROFILE 4  │ DEC BRIGHT │ STOP     │  VOL DOWN │ PREVSONG │
            &kp F9     &kp F10    &kp F11    &kp F12     &bt BT_CLR      &bt BT_SEL 4 &kp C_BRI_DEC &kp C_STOP  &kp C_VOL_DN &kp C_PREV
        //╰──────────┴──────────┴──────────┼───────────┼────────────┤   ├────────────┼────────────┼──────────┴───────────┴──────────╯
                                                &trans     &trans         &trans       &trans
        //                                 ╰───────────┴────────────╯   ╰────────────┴────────────╯
            >;
        };

        game_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│   TAB    │  Q       │  W       │  E       │  R       │   │          │          │          │          │          │
            &kp TAB   &kp Q      &kp W      &kp E      &kp R           &kp T       &kp Y      &kp U      &kp I      &kp O
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Ctrl    │ A        │  S       │  D       │  R       │   │          │          │          │          │          │
            &kp LCTRL  &kp A     &kp S      &kp  D      &kp F          &kp G       &kp H      &kp J      &kp K      &kp P
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Shift   │   ALT    │  Z       │  X       │  C       │   │          │          │          │          │          │
            &kp LSHFT  &kp LALT   &kp Z      &kp X      &kp C          &kp V      &kp B       &kp N      &kp M      &kp L
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &mo GAME2  &kp SPACE      &kp BSPC   &to DEF
                                         //╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        second_game_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│   6      │  7       │  8       │  9       │  0       │   │          │          │          │          │          │
            &kp N6     &kp N7     &kp N8     &kp N9      &kp N0         &trans     &trans    &trans     &trans     &trans
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  1       │ 2        │  3       │  4       │  5       │   │          │          │          │          │          │
            &kp N1    &kp N2     &kp N3     &kp N4     &kp N5           &trans     &trans    &trans     &trans     &trans
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  ESC     │   -      │    *     │    +     │   =      │   │          │          │          │          │          │
            &kp ESC    &kp MINUS  &kp ASTRK  &kp PLUS  &kp EQUAL        &trans     &trans    &trans     &trans     &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                              &trans     &trans         &trans    &kp ENTER
                                         //╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
    };
};
